node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# Subgraph
attestation-station-subgraph/generated
attestation-station-subgraph/build
# Matchstick
attestation-station-subgraph/tests/.*
data/
